<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8"/>

		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/home-page.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css" />
	</head>
	<body>
		<div id="usernameHeader" data-user-name="<%= user_name %>">	
			<%= user_name %>		
		</div>
		<h2 id="mainHeader">Welcome to Mashup</h2>
		<div id="componentContainer">
		</div>
	</body>

	<!--<script type="text/javascript" src="/js/libs/bootstrap.min.js"></script>-->
	
	<script type="text/javascript" src="/js/vendors.js"></script>
	<script type="text/javascript" src="/js/bundled-app.js"></script>
</html>	
